---
// fonts
import "@fontsource-variable/darker-grotesque";
import "@fontsource/cormorant-sc";
import "@fontsource/darker-grotesque";

import { getCollection } from "astro:content";

import Section from "@components/Section.astro";
import H1 from "@components/H1.astro";
import AuthorCard from "@components/AuthorCard.astro";
import Prose from "@components/Prose.astro";

import logoLight from "@images/logo-light.svg";
import logoDark from "@images/logo-dark.svg";
import { ContactForm } from "@components/ContactForm";

const currentYear = new Date().getFullYear();
const authors = await getCollection("authors");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Black Meredith Press</title>

    <!-- Matomo Tag Manager -->
    <script>
      var _mtm = (window._mtm = window._mtm || []);
      _mtm.push({ "mtm.startTime": new Date().getTime(), event: "mtm.Start" });
      (function () {
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = import.meta.env.PUBLIC_ANALYTICS_URL;
        if (s.parentNode) s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Tag Manager -->
  </head>
  <body
    class="bg-mobile-light dark:bg-mobile-dark md:bg-light dark:md:bg-dark bg-no-repeat bg-center bg-cover bg-fixed bg-zinc-300 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-300 font-medium text-xl lg:text-2xl min-h-screen m-0"
  >
    <main class="mx-auto flex flex-col items-center">
      <header
        class="px-12 py-3 bg-zinc-50 dark:bg-zinc-900 z-50 w-full sticky top-0 flex items-center justify-center md:justify-start"
      >
        <picture class="pr-2 h-32 w-32 md:h-16 md:w-16">
          <source
            srcset={logoLight.src}
            media="(prefers-color-scheme: light) or (prefers-color-scheme: no-preference)"
          />
          <source srcset={logoDark.src} media="(prefers-color-scheme: dark)" />
          <img src={logoLight.src} alt="Black Meredith Press Logo" />
        </picture>
        <p class="text-2xl font-medium font-serif hidden md:block">
          Black Meredith Press
        </p>
      </header>
      <div class="h-quarter-screen md:h-half-screen"></div>
      <Section id="intro">
        <H1>Black Meredith Press</H1>
        <p
          class="px-10 text-xl lg:text-2xl text-center text-zinc-500 dark:text-zinc-300/80"
        >
          an Independent Book Publisher
          <span class="block md:inline">for the Surreal yet Familiar</span>
        </p>
      </Section>
      <Section id="about">
        <H1>About</H1>
        <Prose>
          <p>
            Founded in 2017 by Brittani S. Avery, Black Meredith Press
            specializes in literary fantasy and science fiction that create
            people and places surreal yet familiar. Our mission is to open the
            doors of imagination and give readers access to unique worlds
            created by new authors hailing from diverse and exceptional
            backgrounds. We are dedicated to fostering creative expression,
            ensuring that every book we publish brings readers on unforgettable
            journeys to uncharted literary realms.
          </p>
          <p>
            The name “Black Meredith Press” was inspired by the trees of our
            fonder’s childhood home. In her youth, Avery spent countless hours
            exploring the cluster of trees in her backyard. She, along with her
            siblings, cousins, and friends, created numerous worlds underneath
            the shade of the leaves. They fought aliens, practiced swordplay
            with sticks, hiked mountains, launched spy missions. These fond
            memories of vibrant imagination and peek creativity presented the
            perfect name for her new publisher.
          </p>
        </Prose>
      </Section>
      <Section id="authors">
        <H1>Authors</H1>
        <ul
          role="list"
          class="py-6 divide-y divide-zinc-300 dark:divide-zinc-950"
        >
          {authors.map((author) => <AuthorCard author={author} />)}
        </ul>
      </Section>
      <Section id="contact">
        <H1>Contact</H1>
        <ContactForm client:only="react" />
      </Section>
    </main>

    <footer
      class="flex items-center justify-center h-10 border-t bg-white/90 dark:bg-zinc-900/20 border-t-zinc-900/10 dark:border-t-zinc-200/10"
    >
      <p class="text-base">
        &copy; {currentYear} Black Meredith Press
      </p>
    </footer>
  </body>
</html>
